* {
    font-size: 10px;
    font-family: 'Calibri';
}

td,
th,
tr,
table {
    width: 300px;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 140px;
    max-width: 140px;
    word-break: break-all;
    overflow-wrap: break-word;
}

td.cantidad,
th.cantidad {
    width: 45px;
    max-width: 45px;
    word-break: break-all;
    overflow-wrap: break-word;
}
td.preciounit,
th.preciounit {
    width: 60px;
    max-width: 60px;
    word-break: break-all;
    overflow-wrap: break-word;
}

td.precio,
th.precio {
    width: 65px;
    max-width: 65px;
    word-break: break-all;
    overflow-wrap: break-word;
}
td.hora,
th.hora {
    width: 80px;
    max-width: 80px;
    word-break: break-all;
}
.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
    max-width: 300px;
}

img {
    max-width: 120px;
    width: 120px;
}
hr {
    height: 1px;
    border-bottom: 1px;
}

@media print {
  .noPrint{
    display:none;
  }
}
h1{
  color:#f6f6;
}
