* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 55px;
    max-width: 55px;
}

td.cantidad,
th.cantidad {
    width: 20px;
    max-width: 20px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    display:block;
    width: 80mm;
}

img {
    max-width: inherit;
    width: inherit;
}
