* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
td1,
th1,
tr,
table {
    width: 300px;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 150px;
    max-width: 150px;
}

td.cantidad,
th.cantidad {
    width: 60px;
    max-width: 60px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 60px;
    max-width: 60px;
    word-break: break-all;
}
td1.descdetalle,
th1.descdetalle {
    width: 80px;
    max-width: 80px;
}
td1.totdetalle,
th1.totdetalle {
    width: 60px;
    max-width: 60px;
    word-break: break-all;
}
.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
    max-width: 300px;
}

img {
    max-width: 100px;
    width: 100px;
}
